<br/>

<div class="smurfy text-center">

	<h1 class="custom-h1"> 
		Hi, I'm TinyJaunt!	
	</h1>

	<h2>
		I want to help you travel like a local.
	</h2>

	

	<%=  link_to 'Go jaunt!', new_pic_path, :class=> 'btn btn-warning btn-large' %>  

	<br/>
	<br/>

	<div class="control-group text-center">
    <label class="control-label" for="inputIcon">Interested? Leave us your email:</label>
    
    <div class="controls">
    <div class="input-prepend">
    
    	<span class="add-on"><i class="icon-envelope"></i></span>
    	<input class="span2" id="inputIcon" type="text">
    </div>
    </div>
    
</div>

</div>


    

