<% @pics.each_slice(2) do |slice| %>
	<div class = "row">
		<% slice.each do |pic| %>

		<div class ="smurfy span6 text-center">
			<h1 class = "custom-h1">
				Location: <%= pic.location %>
			</h1>
	
			<% if pic.image.present? %>
				<%= image_tag pic.image %>
			<% end%>

			<br/>

			<h2>
				Days: <%= pic.days %>
			</h2>

			<br/>

			Notes: <%= pic.notes %>

			<br/>
			<br/>

		</div>

		<% end %>
	</div>
<% end %>