@import url(http://fonts.googleapis.com/css?family=Nixie+One);

.smurfy{
    # box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    
    # width:100%;

    background-color: rgba(36, 32, 33, 0.2);
    padding: 1%;
    color: white;
}


body {
	background: url('Blue tinted city.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.custom-h1{
	color: white;
	text-align: center;

	font-family: 'Nixie One', Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-weight: 100;
	font-size: 48px;
	line-height: 48px;
}

h2{
	color: #656673;
	text-align: center;


	font-family: 'Nixie One',Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
}

.custom-email-label{
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-weight:100;
	font-size: 24px;
}